<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recent News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Welcome to our News App</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Enjoy the latest news from TechCrunch. 
        </p>
        <ion-spinner *ngIf="!articles"  name="dots"></ion-spinner>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let article of articles" class="ion-no-margin">
      <ion-img src="{{article?.urlToImage}}" style="max-width:500px; max-height:200px; display:inline-flex"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{article.description}}
        </p>
        <p>
        {{ article.author }}
        </p>
        <ion-button ion-button fill="outline" href="{{article.url}}" large target="_blank">Read full article</ion-button>
      </ion-card-content>
    </ion-card>
    <br>
</ion-content>

